EXT_PACKAGES_NAME[1]="luci-app-vlmcsd"
EXT_PACKAGES_PATH[1]="applications/luci-app-vlmcsd"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[1]=""
EXT_PACKAGES_COMMIT[1]="310dd6a3b5da1fed4d4938f6b059956fc7090b29"
EXT_PACKAGES_NAME[2]="luci-app-webadmin"
EXT_PACKAGES_PATH[2]="applications/luci-app-webadmin"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[2]=""
EXT_PACKAGES_COMMIT[2]="310dd6a3b5da1fed4d4938f6b059956fc7090b29"
EXT_PACKAGES_NAME[3]="vlmcsd"
EXT_PACKAGES_PATH[3]="net/vlmcsd"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/coolsnowwolf/packages"
EXT_PACKAGES_BRANCH[3]=""
EXT_PACKAGES_COMMIT[3]="2770713bd41bd91d48203061783bbc1a284e077d"
EXT_PACKAGES_NAME[4]="shortcut-fe"
EXT_PACKAGES_PATH[4]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[4]="package"
EXT_PACKAGES_COMMIT[4]="a82479aaebb34c90134d66be2200a9dd50f469fb"
EXT_PACKAGES_NAME[5]="nft-fullcone"
EXT_PACKAGES_PATH[5]=""
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/fullcone-nat-nftables/nft-fullcone"
EXT_PACKAGES_BRANCH[5]=""
EXT_PACKAGES_COMMIT[5]="07d93b626ce5ea885cd16f9ab07fac3213c355d9"
EXT_PACKAGES_NAME[6]="luci-app-turboacc"
EXT_PACKAGES_PATH[6]="luci-app-turboacc"
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[6]=""
EXT_PACKAGES_COMMIT[6]="2846e3eb85258ac9783d34ee6dda3e8e0644555c"
EXT_PACKAGES_NAME[7]="luci-app-adguardhome"
EXT_PACKAGES_PATH[7]=""
EXT_PACKAGES_REPOSITORIE[7]="https://github.com/chenmozhijin/luci-app-adguardhome"
EXT_PACKAGES_BRANCH[7]=""
EXT_PACKAGES_COMMIT[7]="7390c02c330ef1e6bd9fa5afaee3c5f5d09e81b2"
EXT_PACKAGES_NAME[8]="luci-app-netspeedtest"
EXT_PACKAGES_PATH[8]=""
EXT_PACKAGES_REPOSITORIE[8]="https://github.com/sirpdboy/NetSpeedTest"
EXT_PACKAGES_BRANCH[8]=""
EXT_PACKAGES_COMMIT[8]="0c936e9dd513b2915229871b088b85ca817f5083"
EXT_PACKAGES_NAME[9]="luci-theme-argon"
EXT_PACKAGES_PATH[9]=""
EXT_PACKAGES_REPOSITORIE[9]="https://github.com/jerrykuku/luci-theme-argon"
EXT_PACKAGES_BRANCH[9]=""
EXT_PACKAGES_COMMIT[9]="7aba78ccb84297496f63e1dacefe64c89d83d72e"
EXT_PACKAGES_NAME[10]="wrtbwmon"
EXT_PACKAGES_PATH[10]="wrtbwmon"
EXT_PACKAGES_REPOSITORIE[10]="https://github.com/brvphoenix/wrtbwmon"
EXT_PACKAGES_BRANCH[10]=""
EXT_PACKAGES_COMMIT[10]="f82f9b393842d2113c3253a4902af50bfc757e1a"
EXT_PACKAGES_NAME[11]="hexsen929"
EXT_PACKAGES_PATH[11]=""
EXT_PACKAGES_REPOSITORIE[11]="https://github.com/hexsen929/openwrt_packages"
EXT_PACKAGES_BRANCH[11]=""
EXT_PACKAGES_COMMIT[11]="36cf8d075846da8581fae9605dd59bbe08fde54b"
EXT_PACKAGES_NAME[12]="luci-app-passwall"
EXT_PACKAGES_PATH[12]="luci-app-passwall"
EXT_PACKAGES_REPOSITORIE[12]="https://github.com/Openwrt-Passwall/openwrt-passwall"
EXT_PACKAGES_BRANCH[12]=""
EXT_PACKAGES_NAME[13]="openwrt-passwall-packages"
EXT_PACKAGES_PATH[13]=""
EXT_PACKAGES_REPOSITORIE[13]="https://github.com/Openwrt-Passwall/openwrt-passwall-packages"
EXT_PACKAGES_BRANCH[13]=""
